$background-color: #000000;
$background-color-dark: rgba(0, 0, 0, 0.964);
$background-color-light: rgba(14, 8, 43, 0.6);
$highlight-color: #e8e2e2;
$highlight-bg-color: rgba(7, 7, 11, 0.188);
$text-color: #7b4d2b;
$link-color: #8e993ea7;
$primary-color: #8e993ea7;
$secondary-color: rgba(160, 150, 41, 0.804);
$border-color: rgb(6, 18, 34);
$navbar-bg-color: rgba(0, 0, 0, 0.112);
$header-bg-color: rgba(4, 6, 32, 0.112);
